<mat-sidenav-container class="sidebar-container">
  <mat-sidenav class="sidebar-sidenav" #sidenav [mode]="mode.value">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Custom Toolbar</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidebar-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>